@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@media screen and (max-width: 600px) {/* Adjust the font size for smaller screens */
    h1 {
      font-size: 150%; 
    }
    h2 {
      font-size: 100%; 
    }
    h3 {
        font-size: 100%; 
    }
    h4 {
        font-size: 100%; 
    }
    label{
        font-size: 80%; 
    }
    #form {
        width: 90%;
    }
    input[type='text'],
    input[type='email'] {
        width: 50%;
        padding: 10px;
        margin: 5px 0 0 0;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 7px;
        height: 50%;
    }
    body {
        font-size: 7px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: #b0d8e9;
    background-image: url(../../Images/logo.png);
    background-size: 30%;
    margin: 20px;
    font-size: 15px;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color: #156988;
    text-align: center;
    font-size: 200%;
    margin: 5% 3% 0 3%;
}
h2, h3, h4, h5, h6 {
    padding: 0% 3% 0 3%;
    text-align: center; 
    margin: 0;
}

#form {
    background: #b6dff0;
    border-radius: 10px;
    padding-bottom: 30px;
    min-width: 300px;
}
@media screen and (min-width: 600px) {
    #form {
        width: 70%;
    }
}
@media screen and (min-width: 1000px) {
    #form {
        width: 45%;
    }
}
table {
    display: inherit;
    border-radius: 5px;
    border-spacing: 0px 4px;
    width: fit-content;
}
td {
    width: 50%;
    padding: 0px;
}
tr {
    width: 100%;
    display: block;
}
#divisore {
    background-color: #2596be;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: #f2f6f7;
    width: 100%;
    display: block;
    margin-top: 10px;
}
#left {
    float: left;
    width: 50%;
}
label {
    color: #555;
    display: block;
    text-align: right;
    padding-right: 10px;
}
select {
    width: 86.5%;
    padding: 10px;
    margin: 5px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 11px;
    color: #555;
    background-color: #fff;
}
input[type='text'],
input[type='email'] {
    width: 80%;
    padding: 10px;
    margin: 5px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 11px;
    height: 80%;
}
input[type='radio'] {
    width: 10%;
    padding: 10px;
    margin: 5px 0 0 0;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 3px;
    font-size: 11px;
}
input[type='checkbox'] {
    width: fit-content;  /* Set the width of the checkbox */
    border: 1px solid #ccc;
    color: #000;
    border-radius: 3px;
    font-size: 11px;
}
input[type='submit'] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 50%;
    margin: auto;
    display: flex;
}
input[type='submit']:hover {
    background-color: #258cd1;
}

input[type='submit']:disabled {
    background-color: grey;
    cursor: unset;
}
